
*.vsidx
*.bin
*.v2
CookWithUs.Buisness/obj/Debug/net6.0/CookWithUs.Buisness.AssemblyInfo.cs

CookWithUs.Buisness/obj/Debug/net6.0/CookWithUs.Buisness.AssemblyInfoInputs.cache
CookWithUs.Buisness/bin/Debug/net6.0/CookWithUs.Buisness.pdb
CookWithUs.Buisness/obj/Debug/net6.0/CookWithUs.Buisness.sourcelink.json
/node_modules
/CookWithUs.DB/bin/Debug
