.dORRbt.open {
    animation: 250ms ease 0s 1 normal none running QlHmg;
    transform: translate3d(0px, 0px, 0px);
    bottom: 0px;
}

.dORRbt, .dORRbt.close {
    animation: 250ms ease 0s 1 normal none running cVyuSw;
    transform: translate3d(0px, 100%, 0px);
}

.dORRbt {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: 100px;
    max-height: 90%;
    overflow-y: hidden;
    z-index: 400;
    box-shadow: rgba(27, 30, 36, 0.1) 0px 12px 28px 0px;
    will-change: transform;
}
._3rmJh {
    height: 90vh;
    width: 100%;
    z-index: 200;
    background-color: #f0f0f5;
}
._8wkaD {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    height: 100%;
}
.jRcHex {
    border-bottom: 1px solid rgb(226, 226, 231);
    margin: 32px 16px 16px;
}
.eabNoT {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ScreenReaderOnly_screenReaderOnly___ww-V {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}
.cForLi {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}
.gqXLxV {
    margin: 0px 8px;
}
.cForLi {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}
.cForLi {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}
.gkIBhe {
    margin-bottom: 12px;
    margin-top: 4px;
}
.bPScto {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}
.cZxOIm {
    padding: 0px 16px 20px;
    overflow: hidden auto;
    margin-bottom: 100px;
}
.iVEVDq {
    margin-bottom: 16px;
}
.invcgd {
    display: flex;
    padding: 8px 0px 16px;
}
.fRaNZO {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}
.gZmolG {
    padding: 20px 16px 0px;
}
.bCFMBQ {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    border: 1px solid transparent;
}
.KEXWg {
    display: flex;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.kMEhOX {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.bSKOEt {
    margin-right: 12px;
}
.fFxmlc {
    --fill-color: rgba(2,6,12,0.92);
    --stroke-color: rgba(2,6,12,0.92);
    line-height: 0;
}
.biCOcX {
    margin-right: 12px;
    flex: 1 1 0%;
}
.frGwOR {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}
.dALXMw {
    margin-left: 8px;
}
.gqhfHt {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.gqhfHt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}
.KEXWg .custom-checkbox {
    padding: 0px;
    top: 0px;
}
.gqhfHt .custom-checkbox {
    z-index: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    padding: 8px 0px;
    left: 0px;
}
.iOrOcm {
    --fill-color: #F15700;
    --stroke-color: rgba(2,6,12,0.92);
    line-height: 0;
}
.gqhfHt label {
    width: 100%;
    z-index: 1;
    cursor: pointer;
    padding-left: calc(24px);
}
.hkFxCn {
    font-family: Gilroy;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}
.KEXWg {
    display: flex;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.kMEhOX {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.bSKOEt {
    margin-right: 12px;
}
.fFxmlc {
    --fill-color: rgba(2,6,12,0.92);
    --stroke-color: rgba(2,6,12,0.92);
    line-height: 0;
}
.biCOcX {
    margin-right: 12px;
    flex: 1 1 0%;
}
.frGwOR {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}
.eNWqen {
    margin-right: 4px;
    display: flex;
}
.lnsiHl {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}
.dALXMw {
    margin-left: 8px;
}
.gqhfHt {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.gqhfHt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}
.KEXWg .custom-checkbox {
    padding: 0px;
    top: 0px;
}
.gqhfHt .custom-checkbox {
    z-index: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    padding: 8px 0px;
    left: 0px;
}
.hDsUVF {
    --fill-color: rgba(2,6,12,0.92);
    --stroke-color: rgba(2,6,12,0.92);
    line-height: 0;
}
.gqhfHt label {
    width: 100%;
    z-index: 1;
    cursor: pointer;
    padding-left: calc(24px);
}
.lnsiHl {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}
@supports (padding-bottom:var(--sab)) {
    .dBOqjE {
        padding-bottom: calc(16px + var(--sab) / 2);
    }
}
.dBOqjE {
    padding: 16px 16px 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px -3px 20px 0px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.ljxoky {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.cHENUp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 4px;
}
.gIFucI {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.1px;
    color: rgb(241, 87, 0);
}
.jXTxYE {
    width: 55%;
}
.btNDYe {
    position: relative;
    text-align: center;
}
.dWHkMe {
    text-align: center;
}
.gxZSQD {
    position: relative;
    overflow: hidden;
    background-color: rgb(27, 166, 114);
    width: 100%;
    transition: transform 0.1s ease-in 0s;
    min-width: 96px;
    padding-left: 16px;
    padding-right: 16px;
    height: 44px;
    border: 0px;
    border-radius: 12px;
}
.kkWSdi {
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.MvApi {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 28px;
    width: 28px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px;
    border: none;
    outline: none;
    font: initial;
}
.hWvViY {
    --fill-color: rgba(2,6,12,0.75);
    --stroke-color: rgba(2,6,12,0.92);
    line-height: 0;
}
.gIiRjj.visible {
    opacity: 1;
    transition: all 300ms ease-in-out 0s;
    touch-action: none;
    display: block;
}
.gIiRjj {
    z-index: 399;
    position: fixed;
    inset: 0px;
    transition: all 300ms ease-in-out 0s;
    background: rgba(2, 6, 12, 0.6);
    opacity: 0;
    display: none;
}
.gZmolG {
    padding: 20px 16px 0px;
}
.bCFMBQ {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    border: 1px solid transparent;
}
.KEXWg {
    display: flex;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.kMEhOX {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.bSKOEt {
    margin-right: 12px;
}
.fFxmlc {
    --fill-color: rgba(2,6,12,0.92);
    --stroke-color: rgba(2,6,12,0.92);
    line-height: 0;
}
.biCOcX {
    margin-right: 12px;
    flex: 1 1 0%;
}
.frGwOR {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}
.dALXMw {
    margin-left: 8px;
}
.gqhfHt {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.gqhfHt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}
.KEXWg .custom-checkbox {
    padding: 0px;
    top: 0px;
}
.gqhfHt .custom-checkbox {
    z-index: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    padding: 8px 0px;
    left: 0px;
}
.iOrOcm {
    --fill-color: #F15700;
    --stroke-color: rgba(2,6,12,0.92);
    line-height: 0;
}
.gqhfHt label {
    width: 100%;
    z-index: 1;
    cursor: pointer;
    padding-left: calc(24px);
}
.hkFxCn {
    font-family: Gilroy;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}
.KEXWg {
    display: flex;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.kMEhOX {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.bSKOEt {
    margin-right: 12px;
}
.fFxmlc {
    --fill-color: rgba(2,6,12,0.92);
    --stroke-color: rgba(2,6,12,0.92);
    line-height: 0;
}
.biCOcX {
    margin-right: 12px;
    flex: 1 1 0%;
}
.frGwOR {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}
.eNWqen {
    margin-right: 4px;
    display: flex;
}
.lnsiHl {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}
.ljDTbD > ::before {
    content: "₹";
    margin-right: 0.1rem;
}
.dALXMw {
    margin-left: 8px;
}
.gqhfHt {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.gqhfHt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}
.KEXWg .custom-checkbox {
    padding: 0px;
    top: 0px;
}
.gqhfHt .custom-checkbox {
    z-index: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    padding: 8px 0px;
    left: 0px;
}
.hDsUVF {
    --fill-color: rgba(2,6,12,0.92);
    --stroke-color: rgba(2,6,12,0.92);
    line-height: 0;
}
.gqhfHt label {
    width: 100%;
    z-index: 1;
    cursor: pointer;
    padding-left: calc(24px);
}
.lnsiHl {
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}

















