@supports (padding-top:var(--sat)) {
    ._2_q9F {
        padding-top: var(--sat);
        height: calc(52px + var(--sat));
    }
}

._2_q9F {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    height: 52px;
    width: 100%;
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 2px 2px rgba(40, 44, 63, .1);
    box-shadow: 0 2px 2px rgba(40, 44, 63, .1);
}
._2QN4q {
    padding: 16px 16px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 0;
    outline: 0;
}
._3v0Oe {
    padding: 0 16px 0 16px;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.wk7IU {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
._38vxc {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.07rem;
    font-weight: 600;
    color: #3d4152;
}
.ScreenReaderOnly_screenReaderOnly___ww-V {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}
._3XxTy {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #7e808c;
    font-size: .86rem;
    margin-top: 2px;
}
._3wyd3 {
    color: #8a584b;
    font-weight: 500;
}
._2yBRr {
    margin: 75px 0 0 0;
}
._1ilO8 {
    margin-top: 20px;
}

._2WrBX {
    padding: 0 16px 0 16px;
}
._1ilO8 ._34m_P {
    margin: 6px 0 0;
}
._1zE-m:last-child {
    margin-bottom: 0;
}

._1zE-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
._15wOa {
    margin-right: 8px;
    padding-top: 8px;
}

.styles_icon__m6Ujp {
    color: #e43b4f;
    font-size: .8rem;
}
._3v-Q2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    padding-top: 1px;
}
.ScreenReaderOnly_screenReaderOnly___ww-V {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}
._1DnwP {
    line-height: 1.4rem;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3rem;
    font-size: 15px;
    padding-top: 4px;
    overflow: hidden;
}
._2uuV6 {
    border: 1px solid rgba(40, 44, 63, .2);
    color: #7e808c;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    font-size: 9px;
}

.YtkFu {
    width: 82px;
    height: 26px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
._2QqTm, ._31p1C, ._3WYdE {
    margin-left: 12px;
    min-width: 45px;
    text-align: right;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
._1NTey {
    position: relative;
    top: 6px;
    font-size: 1.07rem;
    color: #3d4152;
}
._1HI1y {
    padding: 0 16px 0 16px;
    margin-top: 15px;
}
._1yRZa {
    border-top: 1px solid #e9e9eb;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._2PCZD {
    font-size: 16px;
    margin-right: 20px;
    color: #686b78;
    font-weight: 300;
}
._2qXI0 {
    font-size: 1rem;
    width: 100%;
    padding: 14px 0;
    outline: 0;
    resize: none;
    white-space: nowrap;
    overflow: auto;
    caret-color: #fc8019;
    font-weight: 300;
    border: 0;
}
._2pWL- {
    width: 80px;
    height: 28px;
    background: #fff;
    border: 1px solid #e9e9eb;
    margin-left: 16px;
    font-size: .86rem;
    color: #7e808c;
    position: relative;
    contain: content;
}

.YtkFu {
    width: 82px;
    height: 26px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
._1H238 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 26.6666666667px;
    height: 100%;
    text-align: center;
}
._33Vfv {
    position: absolute;
    left: 26.6666666667px;
    width: 26.6666666667px;
    text-align: center;
    height: 100%;
    line-height: 26px;
    color: #60b246;
    font-weight: 600;
    font-size: 1rem;
}
.QSzbj {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 26.6666666667px;
    color: #60b246;
    font-weight: 600;
    height: 100%;
    text-align: center;
    line-height: 26px;
    font-size: 1.4rem;
}
._3VkUZ {
    padding: 16px 12px 16px 12px;
    background: #fff;
}

.Ripple_container__17nxL {
    position: relative;
    overflow: hidden;
}
._3u0Bh {
    padding: 15px;
    padding-left: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fffbf5), to(#fff7f4));
    background-image: -o-linear-gradient(top, #fffbf5, #fff7f4);
    background-image: linear-gradient(to bottom, #fffbf5, #fff7f4);
    border: 1px solid #fd9e69;
    border-radius: 6px;
}
._3awyI {
    margin-right: 10px;
}
.Checkbox_orangeCheckboxLabel__JV0CV {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #d4d5d9;
    background-color: transparent;
    border-radius: 2px;
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
}
input:disabled, input:focus, input:hover, textarea:disabled {
    background: inherit;
}

.Checkbox_checkboxInput__16SSg {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.Checkbox_orangeCheckboxTick__23Zdf {
    height: 20px;
    width: 20px;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.23,1,.32,1) 0ms;
    transition: -webkit-transform .3s cubic-bezier(.23,1,.32,1) 0ms;
    -o-transition: transform .3s cubic-bezier(.23, 1, .32, 1) 0ms;
    transition: transform .3s cubic-bezier(.23,1,.32,1) 0ms;
    transition: transform .3s cubic-bezier(.23,1,.32,1) 0ms, -webkit-transform .3s cubic-bezier(.23,1,.32,1) 0ms;
    position: absolute;
    left: -2px;
    top: -2px;
    opacity: 1;
    fill: #e27217;
    -webkit-transform: scale(0);
    transform: scale(0);
}
._2RklK {
    font-weight: 700;
    color: #dc643a;
    font-size: 18px;
}
._1qmfW {
    color: #ad684e;
    font-weight: 400;
}
._2dfTA {
    height: 12px;
    background-color: #f4f4f5;
}
.U8s7d {
    padding: 0 0 16px 0;
}

._6a6S4 {
    background: #fff;
    padding: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
._3SJO5 {
    color: #282c3f;
    font-size: 24px;
    margin-right: 14px;
}
.hkIgw {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._3zjTB {
    color: #3d4152;
    font-size: 1.07rem;
    font-weight: 500;
}
._1afMj {
    margin-left: 10px;
    text-align: right;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
._1EsgC {
    font-size: 13px;
    color: #bebfc5;
}
._3uEXI {
    height: 12px;
    margin: 0 -16px 20px;
    background-color: #f4f4f5;
}
._2hPEE, ._3UwKR, ._144fV, .vXMXI {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.ScreenReaderOnly_screenReaderOnly___ww-V {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}
._3e2t9 {
    padding-right: 14px;
    font-size: 1.43rem;
}
._2hPEE, ._144fV {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

._2hPEE, ._3UwKR, ._144fV, .vXMXI {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._3JyxV {
    color: #3e4152;
    font-weight: 600;
    font-size: 1.15rem;
    white-space: nowrap;
}
._3-7Bu {
    color: #5d8ed5;
    padding-left: 8px;
    white-space: nowrap;
}

.Ripple_container__17nxL {
    position: relative;
    overflow: hidden;
}
._1e1_Z {
    color: #282c3f;
    font-size: 1rem;
    padding-top: 6px;
    opacity: .6;
}
._1sS-O {
    margin-left: 1.2rem;
}
.TipsWrapper_tipsWrapper__2KXM4 {
    margin: 6px 0 10px;
    overflow: hidden;
    contain: content;
}

.TipsWrapper_tipsWrapper__2KXM4, .TipsWrapper_u-flex-align-center__2yQlY {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.TipsWrapper_tipsWrapper__2KXM4 {
    -webkit-box-pack: center;
    justify-content: center;
}
.TipsWrapper_tipsWrapperScrollBarContainer__ArHLG {
    width: 100%;
    padding: 4px 0 18px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.HorizontalScroller_itemList__3_IFD {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.TipsWrapper_tipsWrapperItemContainer__UiXZQ {
    margin-right: 0;
}

.HorizontalScroller_item__3vrve {
    position: relative;
    margin-right: 1rem;
    display: inline-block;
    vertical-align: top;
}
.TipBox_tipBoxContainerMostTipped__1hCY2 {
    height: 44px;
}

.TipBox_tipBoxContainer__2130M {
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    height: 40px;
    width: 72px;
    border-radius: 6px;
    border: 1px solid #e9e9eb;
    margin: 0;
    box-shadow: 0 2px 7px 0 rgba(40, 44, 63, .1);
}

.TipBox_tipBoxCloseContainer__3WrUy, .TipBox_tipBoxContainer__2130M {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.TipBox_tipBoxCloseContainer__3WrUy, .TipBox_tipBoxContainer__2130M, .TipBox_tipBoxText__KKW0f {
    display: -webkit-box;
    display: flex;
}

.Ripple_container__17nxL {
    position: relative;
    overflow: hidden;
}
.TipBox_tipBoxTextMostTipped__2pYYM {
    padding-top: 2px;
    width: 100%;
    height: 100%;
}

.TipBox_tipBoxText__KKW0f {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.TipBox_tipBoxCloseContainer__3WrUy, .TipBox_tipBoxContainer__2130M, .TipBox_tipBoxText__KKW0f {
    display: -webkit-box;
    display: flex;
}
.TipBox_tipBoxTextRupee__eNOZp {
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.TipBox_tipBoxMostTippedContainer__3lxet {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -.3px;
    padding: 2px 0;
    color: #fff;
    background: -webkit-gradient(linear, right top, left top, from(#f46f4c), to(#f88a44));
    background: linear-gradient(270deg, #f46f4c, #f88a44);
}
._2sSwD {
    font-weight: 500;
    font-size: 1.07rem;
}
.dMf8y {
    margin-top: 8px;
    font-weight: 300;
    color: #3d4152;
}
.ScreenReaderOnly_screenReaderOnly___ww-V {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}
._3nvlr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._1DYnm {
    width: 100%;
}
._2IK3e {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.qNh0b {
    text-align: right;
}
._3u1kN {
    text-align: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.XCitJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: pre-wrap;
}
._2kaUM {
    white-space: nowrap;
}
.XP__f {
    margin-top: 8px;
    font-weight: 300;
    color: #3d4152;
}
.ScreenReaderOnly_screenReaderOnly___ww-V {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}
._3nvlr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._1DYnm {
    width: 100%;
}
._2_UzK {
    margin-left: 6px;
    position: relative;
    top: 1px;
    font-size: 12px;
    display: inline-block;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.qNh0b {
    text-align: right;
}
._3u1kN {
    text-align: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.XCitJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: pre-wrap;
}
._2kaUM {
    white-space: nowrap;
}
.zWgCd {
    font-size: 12px;
    color: #93959f;
    font-weight: 300;
    margin-top: 4px;
}
._1BMTS {
    margin: 13px 0 10px;
    height: 1px;
    display: block;
    background: #e3e3ea;
}
._2S55X {
    padding-top: 16px;
    margin-top: 0;
}

._2CpAN {
    padding: 0 16px 0 16px;
    margin: 16px 0 0;
    padding-top: 20px;
    padding-bottom: 24px;
    background: #fff;
}
.CancellationNoticeV2Awareness_wrapper__3fjf5 {
    padding: 16px 24px 16px 16px;
    background-color: #fff;
    margin: 16px 0;
}
.CancellationNoticeV2Awareness_header__1BwAV {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
}
.CancellationNoticeV2Awareness_logo__13uwl {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    flex-shrink: 0;
}
.CancellationNoticeV2Awareness_title__Nv8xQ {
    font-size: 1.07rem;
    color: #3e4152;
    line-height: 20px;
    font-weight: 600;
}
.NoticeBody_points__3YVDZ {
    padding-top: 26px;
    margin-bottom: 16px;
}
.NoticeBody_point__397KX {
    margin-bottom: 16px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
}
.NoticeBody_pointIcon__3eyED {
    width: 18px;
    height: 18px;
    margin-right: 14px;
    flex-shrink: 0;
}
.NoticeBody_pointText__1yOhn {
    font-size: 1.07rem;
    line-height: 20px;
    color: #282c3f;
}
.ActionButtons_wrapper__3vWGV {
    display: -webkit-box;
    display: flex;
    margin: 16px 16px 16px 32px;
}
.ActionButtons_actionButton__1dM-h {
    margin-right: 24px;
    font-weight: 500;
    padding-bottom: 3px;
    color: #5d8ed5;
    border-bottom: 1px dotted #5d8ed5 !important;
    text-decoration: none;
    font-size: 1rem;
}
._1WMhj {
    z-index: 9;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 142px;
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #f4f4f5;
}
.YI-QT {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
}

.YI-QT, ._2HQUw {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.YI-QT, .BIpEb, ._2HQUw, ._3grjI {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._3zFm4 {
    padding: 16px 16px 16px 16px;
    position: relative;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    max-height: 92px;
}
.ScreenReaderOnly_screenReaderOnly___ww-V {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}
.BOUNP {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
._3NRbN {
    width: 48px;
    height: 100%;
    max-height: 48px;
    border: 1px solid #bebfc5;
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
._1fb2p {
    position: absolute;
    right: -7px;
    top: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #60b246;
    z-index: 1;
    color: #fff;
    font-size: 9px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: _14Lr0 .4s 20 alternate;
    animation: _14Lr0 .4s 20 alternate;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
._1fU9t {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 16px;
    height: 100%;
    position: relative;
    top: 1px;
}
._2gx5m {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;

}
._11qmA {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    color: #7e808c;
}
._1tVQS {
    position: absolute;
    bottom: 5px;
    left: 0;
    font-size: .78rem;
    color: #3d4152;
    font-weight: 500;
}
._1NVec {
    color: #fc8019;
    text-transform: uppercase;
    font-size: .86rem;
    font-weight: 600;
    position: absolute;
    right: 16px;
    top: 16px;
}
._2o9TN {
    height: 52px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._1CK6G {
    width: 50%;
    background: #fbfbfb;
    font-weight: 600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 16px;
    border: none;
    outline: 0;
}

.Ripple_container__17nxL {
    position: relative;
    overflow: hidden;
}
._15GdU {
    font-size: 1.07rem;
}
._3grjI {
    font-size: .86rem;
    color: #5d8ed5;
    text-transform: uppercase;
    font-weight: 500;
}

.YI-QT, .BIpEb, ._2HQUw, ._3grjI {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._3mMMb {
    margin-top: 1px;
    margin-left: 3px;
}

[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.BIpEb {
    width: 50%;
    background: #60b246;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.07rem;
    font-weight: 600;
    border: none;
    outline: 0;
}

.BIpEb {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.BIpEb {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.YI-QT, ._2HQUw {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.YI-QT, .BIpEb, ._2HQUw, ._3grjI {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._1r-M3 {
    z-index: 201;
}

._3C3Tg {
    -webkit-animation: _2yWjm .3s ease-in forwards;
    animation: _2yWjm .3s ease-in forwards;
}

._3JaG6 {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
    -webkit-animation: _2RsLF .3s ease-in;
    animation: _2RsLF .3s ease-in;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
._3C3Tg {
    -webkit-animation: _2yWjm .3s ease-in forwards;
    animation: _2yWjm .3s ease-in forwards;
}

._3JaG6 {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
    -webkit-animation: _2RsLF .3s ease-in;
    animation: _2RsLF .3s ease-in;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
